<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Profile</title>
</head>
<body>
    <nav>
        <h4>Node Mysql</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" alt="user profile picture" class="avatar">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta excepturi quia expedita ab eaque delectus officia labore, harum officiis cumque nihil quam. Ratione atque ab qui asperiores assumenda magni quaerat.</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome John</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus exercitationem minima minus molestiae, impedit, voluptatibus voluptate quo optio qui dolorum suscipit quae officia! Nisi veniam, vel corrupti animi in debitis.</p>
                        <a href="#" class="btn btn-primary">Go Somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        Node Mysql Login Template
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
   

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>